@charset "utf-8";
/* CSS Document containing side-wide rules to be applied across all devices on browsers. */

/*Import the mobiles stylesheet for use on device with a maximum screen width of 480px. */
@import url('mobile.css') screen and (max-width:480px);

/*Import the mobiles stylesheet for use on device with a maximum screen width of 481px. */
@import url('tablet.css') screen and (min-width:481);


/*Import the mobiles stylesheet for use on device with a maximum screen width of 800px. */
@import url('desktop.css') screen and (min-width:800px);


/* Style the page/document background. */
body{
    margin: 0;
    padding: 0;
    padding-top: 70px;
    text-align: justify;
    font-size: 17px;
    /* TODO: ADd the font-type for the page text. */




}


/* Style the container div using an id selector */
#container
{
    margin: 2% auto;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(0, 0, 0, .75);
    color:  #fff;
}

/* Style the page heading using the class selector */
.page-heading
{
    color: #f00;
    font-weight: 800;
    font-size: 2.2em;
    text-align: center;
    /* TODO: ADd the font-type for the page text. */


}


/* Underline the page headings */
.page-heading-underline{ border-bottom: medium double #0beaf5;}

/* Style the section headings using class selectors */
.section-heading{
    color: #f80;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: justify;
}

.page-footer
{
    text-align: center;
    color: #ff9900;
    margin-top: 2px;
    margin-bottom: 2px;
    /* TODO: ADd the font-type for the page text. */


}

.image-container figure
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.image-container img
{
    max-width: 100%;
    height: auto;
    border: groove #fff thin;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.image-container figcaption
{
    margin-top: 10px;
    font-size: 16px;
}

.price::before
{
    content: 'Kes. ';
}

.price::after
{
    content: '/=';
}